		<aside class="sidebar" style="z-index: 2;">
			<nav>
				<ul class="sidebar__nav">
					<li>
						<a href="/explorer" class="sidebar__nav__link">
							<i class="mdi mdi-home"></i>
							<span class="sidebar__nav__text">Home</span>
						</a>
					</li>
					<li>
						<a href="/post/" class="sidebar__nav__link">
							<i class="mdi mdi-credit-card"></i>
							<span class="sidebar__nav__text">All Post</span>
						</a>
					</li>
					<li>
						<a href="/post/wishlist" class="sidebar__nav__link">
							<i class="mdi mdi-cart"></i>
							<span class="sidebar__nav__text">wishlist cart</span>
						</a>
					</li>
					<li>
						<a href="/profilePic/createProfile" class="sidebar__nav__link">
							<i class="mdi mdi-account-circle"></i>
							<span class="sidebar__nav__text">My Profile</span>
						</a>
					</li>
					<li>
						<a href="#" class="sidebar__nav__link">
							<i class="mdi mdi-camera"></i>
							<span class="sidebar__nav__text">Camera</span>
						</a>
					</li>
					<li>
						<a href="#" class="sidebar__nav__link">
							<i class="mdi mdi-settings"></i>
							<span class="sidebar__nav__text">Settings</span>
						</a>
					</li>
				</ul>
			</nav>
		</aside>