.first,.second,.third{
    background-color: black;
}


.second {
    /* margin: auto; */
    width: calc(45% - 2rem);
    min-width: 98%;
    list-style: none;
  }
  
  
._name {
    margin: 0;
    margin-left: auto;
    width: calc(45% - 2rem);
    min-width: 10rem;
    list-style: none;
  } 
._head{
   /* margin: auto; */
   width: calc(45% - 2rem);
   min-width: 98%;
   list-style: none;
}


._category {
    /* margin: auto; */
    width: calc(45% - 2rem);
    min-width: 8rem;
    /* list-style: none; */
  }

._card {
    margin: 0;
    margin-left: auto;
    width: calc(45% - 2rem);
    min-width: 15.5rem;
    /* list-style: none; */
  }

  ._user-image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    margin: 0;
    margin-left: auto;
  }


 ._avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

  }
  
  ._avatar img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
