.carousel-inner img{
    
    height: 60vh;
}

._carousel{
    
    /* margin-left: auto; */
    margin-left: auto;
    /* width: calc(60% - 5rem); */
}

@media only screen and (max-width:756px){
    .carousel-inner img{
        width:calc(45%-2rem);
        height: 250px;
    }
    ._carousel{
        margin: auto;
    }    
}