  {{>header}}
  <body class="bg-dark">
    {{!-- {{>nav_top}} --}}
    {{>nav}}
    {{>sidebar}}

<div class="container-fluid col-10 border " style="background: black;float:right;">

  <div class="row">
          <div class="second col-sm pt-2">

            <div class="_head  ">

              <div class="_card bg-warning  p-3 border rounded">

                <div class="_user-image">
                <div class="_avatar ">
                  <img src="https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F04%2Ffree-photo-stock-photography-copyright.jpg&signature=b2d3b9dbbe4aa5d3177e92429ec927ad" alt="image">
                </div>
              </div>
              <div class="_name col-sm">
                  <h2 >Nur-A-Alam</h2>
                  </div>
              </div>
              <div class="_category col-sm">
              <h3 class=" border rounded bg-success p-3 text-center">HIGH valued</h3> 
              </div>
          </div>


              

            <div class="description">
              <p class="text-warning ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cumque iure possimus beatae voluptas deserunt tenetur natus nisi repellat, quia rerum temporibus reiciendis provident explicabo aliquid veniam, excepturi officiis. Rerum.</p>
            </div>
          </div>


<div class="second col-sm pt-2 border-bottom border-top" style="height: 5rem;"></div>

  <div class="row">

            <div class="col-sm">
              {{>carousel}}

            </div>
              <div class="col col-sm-4 d-block">

              <p class="text-warning p-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cumque iure possimus beatae voluptas deserunt tenetur natus nisi repellat, quia rerum temporibus reiciendis provident explicabo aliquid veniam, excepturi officiis. Rerum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam enim vitae tenetur distinctio consequatur, ipsam error! Ex aperiam labore ratione, doloremque laboriosam perferendis earum suscipit atque illo corrupti cupiditate sint?</p>
              </div>             
              
  </div>
<br>

<div class="second col-sm pt-2 border-bottom border-top" style="height: 5rem;"></div>
  <div class="row">

            <div class="col-sm">
              {{>carousel}}

            </div>
              <div class="col col-sm-4 d-block">

              <p class="text-warning p-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cumque iure possimus beatae voluptas deserunt tenetur natus nisi repellat, quia rerum temporibus reiciendis provident explicabo aliquid veniam, excepturi officiis. Rerum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam enim vitae tenetur distinctio consequatur, ipsam error! Ex aperiam labore ratione, doloremque laboriosam perferendis earum suscipit atque illo corrupti cupiditate sint?</p>
              </div>             

              
  </div>
            {{!-- </div> --}}
          </div>
   </div>
</div>

        


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
      
      
      
      
      
  
    </body>
</html>